<!--start header -->
<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="topbar-logo-header">
                <div class="">
                    <h4 class="logo-text"><a href="/finance/">Бюджет для граждан</a></h4>
                </div>                                            
            </div>
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
        </nav>
    </div>
</header>
<!--end header -->
<!--navigation-->
<div class="nav-container primary-menu">
    <div class="mobile-topbar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Rukada</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <nav class="navbar navbar-expand-xl w-100">
        <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
            <li class="nav-item dropdown">
            <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                <div class="menu-title">Основные параметры бюджета</div>
            </a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" href="/finance/income"><i class="bx bx-right-arrow-alt"></i>Доходы</a>
                    </li>
                    <li> <a class="dropdown-item" href="/finance/expenses"><i class="bx bx-right-arrow-alt"></i>Расходы</a>
                    </li>
                    <li> <a class="dropdown-item" href="/finance/duty"><i class="bx bx-right-arrow-alt"></i>Муниципальный долг</a>
                    </li>
                    <li> <a class="dropdown-item" href="#"><i class="bx bx-right-arrow-alt"></i>Обслуживание муниципального долга</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <div class="menu-title">Решение о бюджете</div>
                </a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" href="#"><i class="bx bx-right-arrow-alt"></i>Проект Решение о бюджете</a>
                    </li>
                    <li> <a class="dropdown-item" href="#"><i class="bx bx-right-arrow-alt"></i>Решение о бюджете</a>
                    </li>						
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="javascript:;" class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <div class="menu-title">Межбюджетные трансферты</div>
                </a>
                <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" href="#"><i class="bx bx-right-arrow-alt"></i>Исполнение МБТ</a>
                    </li>                   						
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--end navigation-->
